<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">woojh1138!</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/simulation</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        
        <property name="hibernate.format_sql">false</property>
        <property name="hibernate.show_sql">false</property>
        
        <property name="hibernate.jdbc.batch_size">100</property>
        <property name="hibernate.jdbc.batch_versioned_data">true</property>
        <property name="hibernate.order_inserts">true</property>
        <property name="hibernate.order_updates">true</property>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>
    </session-factory>
</hibernate-configuration>
